# Data preprocessing notebook

In [40]:
import pandas as pd
import nltk
from nltk.corpus import stopwords

In [52]:
file_name = "test.xlsx"
csv_name = "test.csv"

In [53]:
final_data_raw=pd.read_excel(file_name)

In [54]:
final_data_raw

        type                                               text  label
0    NEITHER  “API Error Rate” applies separately to each te...      2
1    NEITHER  This document applies to Oracle PaaS and IaaS ...      2
2    NEITHER  Except with   respect to Section 7 and 8 of th...      2
3    NEITHER  For the Oracle Video Plus (formerly Sauce mobi...      2
4    NEITHER  For the Oracle Apiary Cloud Service, Oracle Co...      2
..       ...                                                ...    ...
575    RIGHT  We guarantee that the Cloud Queues API shall h...      1
576    RIGHT  If we fail to   meet this guarantee you will b...      1
577    RIGHT  If you have purchased Services that will be pr...      1
578    RIGHT  You are entitled to a replacement or refund fo...      1
579    RIGHT  You are also   entitled to have the goods repa...      1

[580 rows x 3 columns]

In [55]:
df = pd.DataFrame(final_data_raw)
df.head()

      type                                               text  label
0  NEITHER  “API Error Rate” applies separately to each te...      2
1  NEITHER  This document applies to Oracle PaaS and IaaS ...      2
2  NEITHER  Except with   respect to Section 7 and 8 of th...      2
3  NEITHER  For the Oracle Video Plus (formerly Sauce mobi...      2
4  NEITHER  For the Oracle Apiary Cloud Service, Oracle Co...      2

In [56]:
df['text'] = df['text'].str.replace(r'\s+', ' ', regex=True)  # Eliminar espacios adicionales
df['text'] = df['text'].str.strip()  # Eliminar espacios al principio y al final
df['text'] = df['text'].str.replace(r'\.\s+', '. ', regex=True)  # Asegurar espacios después de los puntos

In [57]:
df.head()

      type                                               text  label
0  NEITHER  “API Error Rate” applies separately to each te...      2
1  NEITHER  This document applies to Oracle PaaS and IaaS ...      2
2  NEITHER  Except with respect to Section 7 and 8 of this...      2
3  NEITHER  For the Oracle Video Plus (formerly Sauce mobi...      2
4  NEITHER  For the Oracle Apiary Cloud Service, Oracle Co...      2

In [23]:
df.drop_duplicates(subset='Segment', inplace=True)
df

        Code                                            Segment  Value
0    NEITHER  This Service Level B3 Agreement (SLA) only app...      0
1    NEITHER  "Power Unavailability" consists of the number ...      0
2    NEITHER  The total credit will not exceed Customers tot...      0
3    NEITHER  This Network Latency SLA standard is limited t...      0
4    NEITHER  The specific Network Latency SLA standard asso...      0
..       ...                                                ...    ...
509    RIGHT  . You are entitled to the compensation as set ...      2
510    RIGHT  If the Service Availability for a Service Mont...      2
511    RIGHT  Tencent Cloud, in which case Tencent Cloud has...      2
512    RIGHT  Tencent Cloud has the right to amend the terms...      2
513    RIGHT  If you disagree with such revisions made by Te...      2

[461 rows x 3 columns]

In [10]:
nltk.download('stopwords')
stop_words = set(stopwords.words('english'))

df['Tokens'] = df['Segment'].str.split()  # Tokenización
df['Tokens'] = df['Tokens'].apply(lambda x: [word for word in x if word not in stop_words])  # Eliminar palabras vacías

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [11]:
df['Clean_sentences'] = df['Tokens'].apply(lambda x: ' '.join([str(token) for token in x]))

In [12]:
df.head()

,Code,Segment,Value,Tokens,Clean_sentences
0,NEITHER,“API Error Rate” applies separately to each te...,0,"[“API, Error, Rate”, applies, separately, tena...",“API Error Rate” applies separately tenancy ap...
1,NEITHER,This document applies to Oracle PaaS and IaaS ...,0,"[This, document, applies, Oracle, PaaS, IaaS, ...",This document applies Oracle PaaS IaaS Public ...
2,NEITHER,Except with respect to Section 7 and 8 of this...,0,"[Except, respect, Section, 7, 8, document,, se...","Except respect Section 7 8 document, section n..."
3,NEITHER,For the Oracle Video Plus (formerly Sauce mobi...,0,"[For, Oracle, Video, Plus, (formerly, Sauce, m...",For Oracle Video Plus (formerly Sauce mobile c...
4,NEITHER,"For the Oracle Apiary Cloud Service, Oracle Co...",0,"[For, Oracle, Apiary, Cloud, Service,, Oracle,...","For Oracle Apiary Cloud Service, Oracle Contai..."

In [13]:
df['Clean_sentences'][0]

'“API Error Rate” applies separately tenancy applicable Cloud Service means, per-Region basis, percentage value corresponding to: (i) total number failed API Calls made Cloud Service status “Internal Service Error” “Service Unavailable” five-minute period calendar month divided by, (ii) total number API Calls made Cloud Service five-minute period. This excludes circumstances resulting directly indirectly Common Exclusion.'

In [14]:
df['Clean_sentences'][1]

'This document applies Oracle PaaS IaaS Public Cloud Services purchased You, supplements Oracle Cloud Hosting Delivery Policies incorporated Your order.'

In [58]:
df.to_csv(csv_name, index=False)